

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid #4671f1;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo-Pokemon{
  display: flex;
  justify-content: center;
  align-items: start;
  top: 0;
  max-width: 20rem;
}

.container-box{
  display: flex;
  flex-flow: wrap;
  margin: 2rem;
  justify-content: end;
  align-items: center;
}

.box_selection{
  max-width: 12rem;
  margin: 2rem;
}